<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="~/AdminTheme/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        مسعود اکبرزاده
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="md md-face-unlock"></i>
                                پروفایل
                                <div class="ripple-wrapper"></div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="md md-settings"></i>
                                تنظیمات
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <i class="md md-settings-power"></i>
                                خروج
                            </a>
                        </li>
                    </ul>
                </div>

                <p class="text-muted m-0">مدیر سیستم</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-page="/Index" class="waves-effect active">
                        <i class="md md-home"></i>
                        <span> پنل مدیریتی</span>
                    </a>
                </li>

                <li class="has_sub">
                    <a class="waves-effect">
                        <i class="md md-mail"></i>
                        <span> فروشگاه </span>
                        <span class="pull-right">
                            <i class="md md-add"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-page="/shop/Productcategory/Index">گروه محصولات</a>
                        </li>
                        <li>
                            <a asp-page="/shop/Product/Index">محصولات</a>
                        </li>
                        <li>
                            <a asp-page="/shop/ProductPicture/Index">عکس محصولات</a>
                        </li>
                        <li>
                            <a asp-page="/shop/Slider/Index">اسلایدر</a>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-redeem"></i>
                        <span> مدیریت انبار </span>
                        <span class="pull-right">
                            <i class="md md-add"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-page="/Inventory/Index">انبار</a>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-invert-colors-on"></i>
                        <span>
                            مدیریت کاربران
                        </span>
                        <span class="pull-right">
                            <i class="md md-add"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="grid.html">Grid</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-redeem"></i>
                        <span> تخفیفات </span>
                        <span class="pull-right">
                            <i class="md md-add"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-page="/Discount/Customer/Index">تعریف تخفیف برای مشتری</a>
                        </li>
                        <li>
                            <a asp-page="/Discount/Colleague/Index">تعریف مشتری برای همکاران</a>
                        </li>

                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-now-widgets"></i>
                        <span> مدیریت پیام ها </span>
                        <span class="pull-right">
                            <i class="md md-add"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="form-elements.html">General Elements</a></li>
                        <li><a href="form-validation.html">Form Validation</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>